button {
  display: flex;
  outline: none;
  padding: 1rem;
  text-align: center;
  border-radius: 10px;
  margin-top: 3rem;
  box-shadow: 0px 9px 12px 0px rgb(83, 83, 83);
  color: white;
  background-color: black;
  font-family: "Balsamiq Sans", cursive;
  font-size: 23px;
}
.btn {
  display: flex;
  flex-direction: column;
}
button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}
