<div class="btn">
  <button class="home" (click)="getHomeContent($event)">HOME</button>
  <button class="product" (click)="getProductContent($event)">PRODUCT</button>
  <button class="gallery" (click)="getGalleryContent($event)">GALLERY</button>
  <button class="about-us" (click)="getAboutUsContent($event)">ABOUT US</button>
</div>
