.page-main {
  display: flex;
  height: 100vh;
  width: 100vw;
}
app-button-tab {
  background-color: #58831d;
  flex-basis: 25%;
  height: 100vh;
  width: 100vw;
}
.content {
  background-color: rgb(207, 204, 204);
  flex-basis: 75%;
  height: 100vh;
  width: 100vw;

  text-align: center;
}
