<div class="page-main">
  <app-button-tab
    (homeContent)="getHome($event)"
    (productContent)="getProduct($event)"
    (aboutUsContent)="getAboutUs($event)"
    (galleryContent)="getGallery($event)"
  ></app-button-tab>
  <div class="content">
    <h2>{{ homeText }}</h2>
    <h2>{{ productText }}</h2>
    <h2>{{ galleryText }}</h2>
    <h2>{{ aboutText }}</h2>
  </div>
</div>
