/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans:wght@400;700&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: "Balsamiq Sans", cursive;
}
